{% extends 'base.html.twig' %}

{% block title %}Modifier le Mot de Passe
{% endblock %}

{% block body %}
	<div class="d-grid gap-3 mx-auto" style="width: 1000px">
		<h1 class="text-warning mt-3">Modification de Mot de passe</h1>

		{% if notif %}
			<div class="alert alert-info">
				{{ notif }}
			</div>
		{% endif %}

		{{ form (modif) }}
		</div>

	{% endblock %}
