{% extends 'base.html.twig' %}

{% block title %}Cancel
{% endblock %}

{% block body %}
	<div class="alert alert-dismissible alert-danger">
		Oups, désolé mais votre commande n'a pas pu être finalisée.
	</div>
{% endblock %}
